<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Analyze Sentiment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align:center;">Analyze Sentiment</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-sm-12">
                    <h3>Please input text sample:</h3>
                </div>
                <div clas="row">
                    <div class="form-group col-sm-10">
                        <input id="txt_input" class="form-control input-lg" type="text">
                    </div>
                    <div class="form-group col-sm-2">
                        <button id="btn_analyze" type="button" class="btn btn-primary btn-lg">Analyze</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="language"></div>
                        <div id="sentiment"></div>
                        <div id="jargon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
<script>
function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

$(document).ready(function() {

    $("#btn_analyze").click(function() {
        inputData = $("#txt_input").val();
        if (inputData.trim().length > 0) { 
            url = "getSentiment/" + inputData.trim();
            $.getJSON(url, function (data) {
                var info_text = '<h4>Analyzing Sentiment for <strong>' + inputData.trim() + '</strong></h4>';
                var str = info_text + '<pre>' + syntaxHighlight(JSON.stringify(data, null, 2)) + '</pre>';
                $('#sentiment').html(str);
            });

            url = "getLanguage/" + inputData.trim();
            $.getJSON(url, function (data) {
                var info_text = '<h4>Analyzing Language for <strong>' + inputData.trim() + '</strong></h4>';
                var str = info_text + '<pre>' + syntaxHighlight(JSON.stringify(data, null, 2)) + '</pre>';
                $('#language').html(str);
            });

            url = "getJargon/" + inputData.trim();
            $.getJSON(url, function (data) {
                var info_text = '<h4>Analyzing Jargon for <strong>' + inputData.trim() + '</strong></h4>';
                var str = info_text + '<pre>' + syntaxHighlight(JSON.stringify(data, null, 2)) + '</pre>';
                $('#jargon').html(str);
            });

        }
    });

});
</script>